<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
<center>
<h1><%- greeting %></h1>
<%- tagline %><br>

<br>
<img src=<%- imageURL %>>
<% include ../partials/footer %></body>
</body>
</html>
